{% extends "base.html" %}


{% block dependencies %}

    <!-- Specific js and css files for this screen -->
    <link rel="stylesheet" href="{{ url_for('static', filename='common/selection.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='classic/selection_metrics.css') }}">
    <script src="/js/classic/selection.js" defer="defer"></script>

{% endblock %}


{% block content %}

    <div id="header-background">

        <!-- include common header -->
        {% with %}
            {% set logo_src = url_for('static', filename='classic/assets/logo_compare_white.svg') %}
            {% set header_paragraph = "Select some wikis, some metrics and press compare to start" %}
            {% include "header.html" %}
        {% endwith %}

        <div class="tabs-bar-container fluid-container">
            <ul class="nav nav-tabs row" id="tabs" role="tablist">
                <li class="nav-item col">
                    <a class="nav-link row active" id="wikis-tab" data-toggle="tab" href="#wikis" role="tab" aria-controls="home" aria-selected="true">
                            <span class="col-auto">Wikis</span>
                            <span id="wikis-badges-container" class="d-inline-block align-middle current-selection-paragraph col-9"></span>
                    </a>
                </li>
                <li class="nav-item col">
                    <a class="nav-link row" id="metrics-tab" data-toggle="tab" href="#metrics" role="tab" aria-controls="metrics" aria-selected="false">
                            <span class="col-auto">Metrics</span>
                            <span id="metrics-badges-container" class="d-inline-block align-middle current-selection-paragraph col-9"></span>
                    </a>
                </li>
            </ul>

            <div id="under-tab-row" class="row"></div>

        </div>


    </div>

    <main>
        <section class="selection-content">


            <div class="tab-content">
                <div class="tab-pane fade show active" id="wikis" role="tabpanel" aria-labelledby="wikis-tab">
                    {% include "common/selection/selection_wikis.html" %}
                </div>
                <div class="tab-pane fade" id="metrics" role="tabpanel" aria-labelledby="metrics-tab">
                    {% include "classic/selection/selection_metrics.html" %}
                </div>
            </div>
        </section>

        <footer class="action-button-container">
            <div id="selection-footer-container-button" class="selection-container-button">
                <button id="selection-footer-button" type="button" class="btn action-button" disabled>COMPARE</button>
            </div>
        </footer>

    </main>
{% endblock %}
