/* Sidebar */

#side-bar {
    background-color: #004481;
    flex: 0 0 300px;
    color: white;
    font-size: 16px;
    padding-bottom: 100px;
    min-height: 100vh;
    min-height: -webkit-fill-available;
}


/* Sidebar - fold button */

#fold-button:after {
    content: '«';
}

#fold-button {
    font-size: 4rem;
    font-family: 'Roboto Mono', monospace;
}

p#fold-button {
    margin: 0 0 0 0;
    padding: 5px 5px 5px 5px;
}

#fold-button:hover {
    color: #2DCCCD;
    font-weight: bold;
}

.fold-img-container-cn {
    cursor: pointer;
    margin-right: 18px;
    margin-top: 5px;
    margin-bottom: 10px;
}

/* Sidebar - tabs */
.side-bar-tab {
    width: 50%;
    height: 70px;
    color: #49A5E6;
    font-size: 18px;
    line-height: 21px;
    justify-content: center;
    flex-direction: column;
}

.side-bar-tab:hover {
    font-weight: bold;
    color: #2DCCCD;
}

.side-bar-selected-tab {
    font-weight: bold;
    color: white;
}

.metric-category-label {
    /* in hex without opacity: background-color: #072146;*/
    background-color: rgba(7,33,70,0.3);
    padding: 5px;
    color: #FFF;
    font-size: 18px;
    padding-left: 16px;
}

.aside-checklist-category,
.metric-category-list {
    padding: 5px;
    font-size: 16px;
    font-weight: 500;
}

.sidebar-info-paragraph {
    font-size: 15px;
    margin: 15px 0 15px 0px;
}

.aside-checklist-option {
    padding: 4px 4px 4px 0;
}

.checklist-info {
    opacity: 0.2;
}

.checklist-info:hover {
    opacity: 1;
}

#compare-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    position: fixed;
    width: 300px;
    bottom: 0px;
    background-color: #072146;
}

.action-button {
    border: None;
    height: 57px;
    width: 256px;
    border-radius: 4px;
    background-color: #49A5E6;
    color : white;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
}

.action-button:hover {
    color: white;
    background-color: #2DCCCD;
}

.action-button:disabled {
    background-color: #D1D1D1;
    cursor: default;
    color: #9B9B9B;
}
