/* Sidebars */

.side-bar-cn {
    background-color: #004481;
    flex: 0 0 300px;
    color: white;
    font-size: 16px;
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

/** Sidebar: selector - specifics **/

#side-bar {
    opacity: 1;
}

/** Sidebar: controls - specifics **/

#controls-side-bar {
    opacity: 0.7;
}

#controls-sidebar-wrapper {
    z-index: 2;
    position: absolute;
    right: 0;
    top: 0;
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

#controls-side-bar:hover {
    opacity: 0.9;
}

/* Sidebars - fold button */

/** selectors sidebar **/
#fold-button:after {
    content: '«';
}

/** controls sidebar **/
#controls-fold-button:after {
    content: '»';
}

.fold-button-cn {
    font-size: 4rem;
    font-family: 'Roboto Mono', monospace;
}

p.fold-button-cn {
    margin: 0 0 0 0;
    padding: 5px 5px 5px 5px;
}

.fold-button-cn:hover {
    color: #2DCCCD;
    font-weight: bold;
}

.fold-img-container-cn {
    cursor: pointer;
    margin-right: 18px;
    margin-left: 18px;
    margin-top: 5px;
    margin-bottom: 10px;
}

/* Sidebar - tabs */
.side-bar-tab {
    width: 50%;
    height: 70px;
    color: #49A5E6;
    font-size: 18px;
    line-height: 21px;
    justify-content: center;
    flex-direction: column;
}

.side-bar-tab:hover {
    font-weight: bold;
    color: #2DCCCD;
}

.side-bar-selected-tab {
    font-weight: bold;
    color: white;
}

.metric-category-label {
    /* in hex without opacity: background-color: #072146;*/
    background-color: rgba(7,33,70,0.3);
    padding: 5px;
    color: #FFF;
    font-size: 18px;
    padding-left: 16px;
}

/* Sidebar - options */

.aside-checklist-category,
.metric-category-list {
    padding: 5px;
    font-size: 16px;
    font-weight: 500;
}

.sidebar-info-paragraph {
    font-size: 15px;
    margin: 15px 0 15px 0px;
}

.aside-checklist-option {
    padding: 4px 4px 4px 0;
}

.checklist-info {
    opacity: 0.2;
}

.checklist-info:hover {
    opacity: 1;
}

/* Sidebars - buttons */

.compare-button-container-cn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    position: fixed;
    width: 300px;
    bottom: 0px;
    background-color: #072146;
}

#compare-button {
    font-size: 24px;
    height: 57px;
    width: 256px;
}
