{% extends "base.html" %}


{% block dependencies %}

    <!-- Specific js and css files for this screen -->
    <link rel="stylesheet" href="{{ url_for('static', filename='common/selection.css') }}">

{% endblock %}


{% block content %}

    <div id="header-background">
        <!-- include common header -->
        {% include "header.html" %}
    </div>


    <main>
        <div class="tab-pane fade show active" id="wikis" role="tabpanel" aria-labelledby="wikis-tab">
            {% include "common/selection/selection_wikis.html" %}
        </div>
    </main>
{% endblock %}
