<header>
    <div class="sticky-header">
      <div id='logo-container'>
        <div id="img-logo-header-container">
          <img height="40px" src={{ logo_src }} />
        </div>
        <div id="header-modes-available">
          <a href="/classic" class="btn header-app-link {{ 'disabled selected-app-link' if mode == 'classic' }}">CLASSIC</a>
          <a href="/networks" class="btn header-app-link {{ 'selected-app-link' if mode == 'networks' }}">NETWORKS</a>
        </div>
      </div>

      <hr/>
    </div>

        <div class='intro-container'>
            <h3 id='selection-header-welcome'>Welcome to WikiChron <em>{{ mode }}</em></h3>
            <div id='selection-header-paragraph-div'>
<!--
                <img src={{ paragraph_img_src }} />
-->
                <p id="selection-header-paragraph">{{ header_paragraph }}</p>
            </div>
        </div>
</header>
