<header>
    <div class="sticky-header">
      <div id='logo-container'>
        <div id="img-logo-header-container">
          <a href="/">
            <img height="40px" src={{ logo_src if logo_src else url_for('static', filename='assets/logo_wikichron_simple.svg') }} />
          </a>
        </div>
        <a href="/upload" class="btn btn-link add-wiki-anchor">
          <i class="far fa-plus-square"></i>
          <span>Add a wiki</span>
        </a>
        <div id="header-modes-available">
          <a href="/compare" class="btn header-app-link {{ 'disabled selected-app-link' if mode == 'classic' }}">COMPARE</a>
          <a href="/networks" class="btn header-app-link {{ 'selected-app-link' if mode == 'networks' }}">NETWORKS</a>
          <a href="/monowiki" class="btn header-app-link {{ 'selected-app-link' if mode == 'monowiki' }}">MONOWIKI</a>
        </div>
      </div>

      <hr class="line"/>
    </div>

        <div class='intro-container'>
            <div id='selection-header-paragraph-div'>
                <p id="selection-header-paragraph">{{ header_paragraph }}</p>
            </div>
        </div>
</header>
