{% extends "base.html" %}


{% block dependencies %}
    <!-- Specific js and css files for this screen -->
    <link rel="stylesheet" href="{{ url_for('static', filename='upload.css') }}">

    <script>
        $( function() {
            $( "#input-date" ).datepicker({
                dateFormat: "yy-mm-dd",
                maxDate: 0
            })

        });
    </script>

{% endblock %}


{% block content %}
    <main>
        <div class="jumbotron jumbotron-fluid">
            <div id="form-screen" class="container">
                <div class="row">
                    <div class="col-3"></div>
                    <h1 id="add-wiki-title" class="col-6 display-4">
                        Add your wiki
                        <a target="_blank" href="https://github.com/Grasia/WikiChron/wiki/How-to-add-a-new-wiki">
                            <span id="add-wiki-info"><i class="fas fa-info-circle"></i></span>
                        </a>
                    </h1>
                </div>
                <form action="/csv-upload" method="post" enctype=multipart/form-data>
                    <div class="row input-row">
                        <label for="input-wiki-name" class="col-3 input-label">Wiki name*</label>
                        <span class="col-6">
                            <input id="input-wiki-name" name="name" type="text" placeholder="Write a descriptive name of the wiki" required />
                        </span>
                    </div>
                    <div class="row input-row">
                        <label for="input-wiki-url" class="col-3 input-label">Wiki url*</label>
                        <span class="col-6">
                            <input id="input-wiki-url" name="url" type="url" placeholder="Write the url of the wiki" required />
                        <span>
                    </div>
                    <div class="row input-row">
                        <label for="input-date" class="col-3 input-label">Date of data retrieval</label>
                        <span class="col-6">
                            <input id="input-date" name="date" type="text" placeholder="Provide when the data of the wiki was obtained">
                        </span>
                    </div>

                    <div class="row input-row">
                        <label for="input-wiki-file" class="col-3 input-label">csv file*</label>
                            <span class="col-6">
                                <input id="input-wiki-file" class="input-file" type="file" name="file" accept=".csv" autocomplete="off">
                            </span>
                    </div>


                    <div class="row input-row">
                        <label for="input-wiki-image" class="col-3 input-label">Wiki image (optional)</label>
                            <span class="col-6">
                                <input id="input-wiki-image" class="input-file" type="file" name="image" accept="image/*" autocomplete="off">
                            </span>
                    </div>

                    <div id="buttons-container" class="row">
                        <span class="col-3"></span>

                        <span class="col-3">
                            <a href="/"><button id="cancel-csv-button" type="button" class="btn button cancel-button">CANCEL</button></a>
                        </span>


                        <span class="col-3">
                            <input type="submit" value="UPLOAD" id="upload-csv-button" type="button" class="btn button action-button" required></input>
                        </span>

                </form>
            </div>
        </div>
    </main>
{% endblock %}
