{% extends "base.html" %}

{% block dependencies %}
    <!-- Specific js and css files for this screen -->
    <link rel="stylesheet" href="{{ url_for('static', filename='upload.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='common/selection.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='common/selection_wikis.css') }}">

{% endblock %}



{% block content %}
    <main>
        <div class="jumbotron jumbotron-fluid">
            <div class="container" style="color: white">
                <h1 class="display-4">Successful upload! <span style="color: green"><i class="fa fa-check-circle"></i></span></h1>
                <p class="lead">The data for wiki: "{{wiki.name}}" was uploaded and successfully added to WikiChron.</p>


                <div class="d-flex justify-content-center mt-4">
                    {% include "common/selection/wiki_card.html" %}
                </div>


                {% if overwritten %}
                    <p>
                        <i class="fas fa-exclamation-circle"></i> Previous data for this wiki has been replaced by your recent upload.
                    </p>
                {% endif %}


                <hr class="my-3">

                <p class="lead mb-3">Now you should find your wiki within the available wikis in any WikiChron mode.</p>


                <div class="d-flex w-100" style="justify-content: space-evenly;">
                    <a class="btn btn-secondary btn-lg" href="/" role="button">Go back home</a>
                    <a class="btn btn-secondary btn-lg" href="/list_data" role="button">List available wikis</a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
