{% extends "base.html" %}

{% block dependencies %}
    <link rel="stylesheet" href="{{ url_for('static', filename='welcome.css') }}">
{% endblock %}

{% block content %}
  <main>

    <section id="welcome-title">
      <h1>Welcome to Wikichron!</h1>
        <p>
          WikiChron helps you analyze the evolution of wikis over time.<br/>
          Choose below which mode you want to use.
        </p>
    </section>

    <section id="welcome-content" class="container">
      <div id="mode-options">

      <a href="/compare" class="link-unstyled">
        <div class="card">
            <div class="card-img-top">
              <img src={{url_for('static', filename='classic/assets/line_graph.svg')}} class="mode-image" alt="Line chart - Compare">
              <img class="logo-text" src={{url_for('static', filename='classic/assets/logo_compare_text.svg')}} alt="Logo title compare">
            </div>
            <div class="card-body">
              <div class="d-flex flex-row align-items-center">
                <p class="card-text">Choose among a big set of metrics and compare its evolution between several wikis at once</p>
                <div class="arrow-container"><img height="30px" src={{url_for('static', filename='assets/arrow.svg')}} class="btn btn-link to-app-link"></img></div>
              </div>
            </div>
        </div>
      </a>

      <a href="/networks" class="link-unstyled">
        <div class="card">
          <div class="card-img-top">
              <img src={{url_for('static', filename='networks/assets/network_graph.svg')}} class="mode-image" alt="Graph image - Networks">
              <img class="logo-text" src={{url_for('static', filename='networks/assets/logo_networks_text.svg')}} alt="Logo title networks">
            </div>
            <div class="card-body">
              <div class="d-flex flex-row align-items-center">
                <p class="card-text">Visualize networks of collaboration and communication between the wiki members</p>
                <div class="arrow-container"><img height="30px" src={{url_for('static', filename='assets/arrow.svg')}} class="btn btn-link to-app-link"></img></div>
              </div>
            </div>
        </div>
      </a>

      <a href="/monowiki" class="link-unstyled">
        <div class="card">
          <div class="card-img-top">
              <img src={{url_for('static', filename='monowiki/assets/monowiki_graph.svg')}} class="mode-image" alt="Bar chart - Monowiki">
              <img class="logo-text" src={{url_for('static', filename='monowiki/assets/logo_monowiki_text.svg')}} alt="Logo title networks">
            </div>
            <div class="card-body">
              <div class="d-flex flex-row align-items-center">
                <p class="card-text">Display more condensed metrics and other kind of visualizations for single-wiki selections</p>
                <div class="arrow-container"><img height="30px" src={{url_for('static', filename='assets/arrow.svg')}} class="btn btn-link to-app-link"></img></div>
              </div>
            </div>
        </div>
      </a>

      </div>
    </section>

  </main>


  {% include "footer.html" %}

{% endblock %}
