appdirs
attrs
backcall
beautifulsoup4
certifi
chardet
click
colorama
colorlog
colormap
cycler
dash==0.39.0
dash-core-components==0.44.0
dash-cytoscape==0.1.1
dash-daq==0.1.4
dash-html-components==0.14.0
dash-renderer==0.20.0
dash-table==3.6.0
decorator
easydev
Flask
Flask-Caching
Flask-Compress
fs
grasia-dash-components
gunicorn
idna
inequality-coefficients
ipython-genutils
itsdangerous
jedi
Jinja2
jsonschema
jupyter-core
kiwisolver
lxml
MarkupSafe
matplotlib
mpmath
nbformat
numpy
pandas
pexpect
pickleshare
plotly==3.3.0
powerlaw
prompt-toolkit
ptyprocess
Pygments
pyparsing
pyrsistent
python-dateutil
python-igraph
pytz
redis
requests
retrying
scipy
sd-material-ui==3.0.1
setproctitle
six
soupsieve
traitlets
typing
urllib3
wcwidth
Werkzeug
wiki-dump-parser
zc.lockfile
