/* Main - Metrics */

/* Bold checked inputs */
input:checked+label{ font-weight: bold; }

/* Collapsable card */
.cat-title:hover {
    text-decoration: none;
}

.cat-title:focus {
    text-decoration: none;
}

.cat-title {
    text-decoration: none;
}

/* Metrics - info icon */
.aside-checklist-option {
    padding: 4px 4px 4px 0;
}

.checklist-info {
    opacity: 0.2;
}

.checklist-info:hover {
    opacity: 1;
}

#metrics-cards-container {
    width: 99%; /* Leave 1% of space for scrollbar */
}
