<div id="current-selection-display" class="d-flex flex-column ml-2">
    <div class="row">

        <div class="col-sm">
            <p id="current-wiki-selection" class="d-inline-block current-selection-paragraph">
                <span class="mr-2 align-middle">Your wiki selection:</span>
                <span id="wikis-badges-container" class="d-inline-block align-middle" style="height: 30px"></span>
            </p>
        </div>

        <div class="col-sm">
            <p id="current-metrics-selection" class="d-inline-block current-selection-paragraph">
                <span class="mr-2 align-middle">Your metrics selection:</span>
                <span id="metrics-badges-container" class="d-inline-block align-middle" style="height: 30px"></span>
            </p>
        </div>

    </div>
</div>
