<div id="current-selection-display" class="d-flex flex-column ml-2">
    <div class="row">

        <div class="col-sm">
            <p id="current-wiki-selection" class="d-inline-block current-selection-paragraph">
                <span class="mr-2 align-middle">Your wiki selection:</span>
                <span class="badge badge-secondary p-2 align-middle">Laguna negra</span>
            </p>
        </div>

        <div class="col-sm">
            <p id="current-metrics-selection" class="d-inline-block current-selection-paragraph">
                <span class="mr-2 align-middle">Your network selection:</span>
                <span class="badge badge-secondary p-2 align-middle">Co-editing</span>
            </p>
        </div>

    </div>
</div>
