<div>
    <p>Select the wiki you want to analyze</p>
    <hr class="line"/>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h4 class="card-title">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="wiki1" value="recipes.wikia.com">
                <label class="form-check-label" for="wiki1">Recipes</label>
            </div>
        </h4>
        <div class="card-image-container">
            <div class="card-image-wrapper">
                <img src="https://images.wikia.nocookie.net/__cb29/recipes/images/8/89/Wiki-wordmark.png"/>
            </div>
        </div>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="card-link">Wiki url</a>
      </div>
    </div>
</div>
