<div>
    <p class="ml-2 tab-intro-paragraph">Select the metrics you want to see for this wiki</p>

    <hr class="ml-2 line"/>

    <div id="cards-container" class="w-100 mx-auto d-flex">

        <div id="cards-list" class="d-flex flex-row flex-wrap justify-content-center list">

            {% for (cat_name, cat_metrics) in categories.items() %}

                <div id="{{cat_name}}-parent">
                    <div class="card m-2 mb-5" style="width: 22rem;">
                        <div class="card-header">
                          <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#{{cat_name}}" aria-expanded="true" aria-controls="{{cat_name}}">
                                {{cat_name}}
                            </button>
                          </h5>
                        </div>

                        <div id="{{cat_name}}" class="collapse" data-parent="{{cat_name}}-parent">
                            <div class="card-body">
                                {% for metric in cat_metrics %}
                                    <div class="custom-control custom-checkbox m-4">
                                        <input class="custom-control-input metric-input" type="checkbox" id="checkbox-{{metric['code']}}" value="{{metric['code']}}" data-name="{{metric.name}}" name="metric">
                                        <label class="custom-control-label metric-name" for="checkbox-{{metric['code']}}">{{metric['name']}}</label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

</div>
