<div>

    <div id="tab-header" class="d-flex justify-content-between mx-2">
        <p class="tab-intro-paragraph" >Select the wiki you want to analyze</p>

        <form class="form-inline">
            <label class="sr-only" for="search-wiki-input">Wiki keywords</label>
            <input id="search-wiki-input" class="form-control h-100" type="text" placeholder="Search wiki"/>
        </form>
    </div>

    <hr class="ml-2 line"/>

    <div id="cards-container">

        <div id="cards-list" class="d-flex flex-row flex-wrap list">
            {% for wiki in wikis %}
                <div class="card m-2" style="width: 18rem;">
                  <div class="card-body">
                    <h4 class="card-title">
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" id="checkbox-{{wiki.url}}" value="{{wiki.url}}">
                            <label class="custom-control-label wiki-name" for="checkbox-{{wiki.url}}">{{wiki.name}}</label>
                        </div>
                    </h4>
                    <div class="card-image-container">
                        <div class="card-image-wrapper">
                            <img src="https://images.wikia.nocookie.net/__cb29/recipes/images/8/89/Wiki-wordmark.png"/>
                        </div>
                    </div>
            <!--
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            -->
                    <a href="https://{{wiki.url}}" class="card-link wiki-url">{{wiki.url}}</a>
                  </div>
                </div>
            {% endfor %}
        </div>
    </div>

</div>
