<div>
    <p class="ml-2 tab-intro-paragraph">Select the metrics you want to see for this wiki</p>

    <hr class="ml-2 line"/>

    <div id="metrics-cards-container" class="mx-auto d-flex">

        <div id="metrics-cards-list" class="d-flex flex-row flex-wrap justify-content-center list">

            {% for (cat_name, cat_metrics) in categories.items() %}

                <div id="{{cat_name}}-parent">
                    <div class="card m-2 mb-5" style="width: 26rem;">
                        <div class="card-header btn btn-link cat-title" data-toggle="collapse" data-target="#{{cat_name}}" aria-expanded="true" aria-controls="{{cat_name}}">
                            <h5 class="mb-0">{{cat_name}}</h5>
                        </div>

                        <div id="{{cat_name}}" class="collapse" data-parent="{{cat_name}}-parent">
                            <div class="card-body">
                                {% for metric in cat_metrics %}
                                    <div class="metric-item d-flex">
                                        <div class="custom-control custom-checkbox m-2">
                                            <input class="custom-control-input metric-input" type="checkbox" id="checkbox-{{metric['code']}}" value="{{metric['code']}}" data-name="{{metric.name}}" data-cat-name="{{cat_name}}" name="metric" {{"checked" if metric['code'] in pre_selected_metrics}} />
                                            <label class="custom-control-label metric-name" for="checkbox-{{metric['code']}}">{{metric['name']}}</label>
                                            <span class="aside-checklist-option ml-1" title="{{metric.descp}}">
                                                <span class="checklist-info"><i class="fa fa-info-circle"></i></span>
                                            </span>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

</div>
