/* General */
body {
    margin: 0px;
    font-family: Roboto, sans-serif;
    height: 100%;
    background-color: #21446D;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

.action-button {
    border: none;
    border-radius: 4px;
    background-color: #49A5E6;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    line-height: 28px;
}

.action-button:hover {
    color: white;
    background-color: #2DCCCD;
}

.action-button:disabled {
    background-color: #D1D1D1;
    cursor: default;
    color: #9B9B9B;
}

/* Current selection display */

.badge-secondary {
    background-color: #3D71AE;
}

.close-wiki-badge {
    color: inherit;
    font-size: 1.2rem;
    float: none;
}

.close-wiki-badge:hover {
    color: inherit;
    opacity: 1;
    border: 0;
    font-size: 1.3rem;
}

/* Header */

/* Badges */
.badge {
    font-weight: bold;
    margin: 2px 0 2px 0px;
}

/* Main */

section.selection-content {
    color: white;
}

section.selection-content p {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

#tabs {
    border: none;
}

#under-tab-row {
    height: 5px;
    background-color: #4FB6FF;
}

.nav-tabs .nav-link, .nav-tabs .nav-item, .nav-tabs .nav-link.active{
    color: white;
    border: none;
}

.nav-tabs .nav-item{
    background-color: #183657;
}

.nav-tabs .nav-link:hover{
    background-color: #70C2FC;
}

.nav-tabs .nav-link {
    padding: 20px 50px 20px 50px;
}

.nav-tabs .nav-link.active {
    background-color: #4FB6FF;
}

.tabs-bar-container {
    color: white;
}

.nav-item {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 900;
    line-height: 28px;
}

.nav-link {
    align-items:center;
    height: 100%;
}

.tab-content {
    padding: 33px 60px 33px 60px;
}

.current-selection-container {
    margin: 0px 0px 15px 0px;
}

.line {
    border: 1px solid #BAD8EC;
    opacity: 0.22;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.card-title {
    color: #193250;
}

.card-body {
    color: #4A4A4A;
}

.card-image-container {
    width: 250px;
    height: 140px;
    display: flex;
}

.card-image-wrapper {
    margin: auto;
}

.card-image-wrapper > img {
    max-height: 90px;
    max-width: 240px;
}


.current-selection-paragraph {
    font-weight: 500;
    font-size: 1rem;
    line-height: 16px;
}

/* Footer */

/* footer - button */

footer.action-button-container{
    width: 100%;
    height: 100px;
}

.selection-container-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: inherit;
    background-color: #072146;
    bottom: 0px;
    position: fixed;
    z-index: 10;
}

#selection-footer-button {
    font-size: 24px;
    height: 57px;
    width: 256px;
}
