<div>
  <p class="ml-2 tab-intro-paragraph">Select the time span within you want to generate the network</p>
  <hr class="ml-2 line"/>

<section class="range-slider slider-container" id="time-slider">
  <p>
    <span>Seleted time axis:</span>
    <span id="time-axis-selection" style="font-weight:bold; color:white"></span>
  </p>

<div id="slider-range" class="slider">
  <div class="ui-slider-handle slider-handle"></div>
  <div class="ui-slider-handle slider-handle"></div>
</div>

<div id="#time-axis-container" style="display: none">{{time_axis}}</div>

</section>
