{% extends "base.html" %}


{% block dependencies %}

    <!-- Specific js and css files for this screen -->
    <link rel="stylesheet" href="{{ url_for('static', filename='networks/selection.css') }}">
    <script src="/js/networks/selection.js" defer="defer"></script>

{% endblock %}


{% block content %}

    <header>
        <div id='logo-container' class="sticky-header">
            <img height="80px" src={{url_for('static', filename='networks/assets/logo_networks.svg')}} />
        </div>

            <div class='intro-container'>
                <p id='selection-header-welcome'>Welcome to WikiChron <em>Networks</em></p>
                <div id='selection-header-paragraph-div'>
                    <img />
                    <p id="selection-header-paragraph">Select one wiki, one network and press generate to start</p>
                </div>
            </div>
    </header>

    <div class="tabs-bar-container">
        <ul class="nav nav-tabs" id="tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="wikis-tab" data-toggle="tab" href="#wikis" role="tab" aria-controls="home" aria-selected="true">Wikis</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="networks-tab" data-toggle="tab" href="#networks" role="tab" aria-controls="networks" aria-selected="false">Networks</a>
            </li>
<!--
            <li class="nav-item">
                <a class="nav-link" id="time-tab" data-toggle="tab" href="#time" role="tab" aria-controls="time" aria-selected="false">Time</a>
            </li>
-->
        </ul>
    </div>
    <main>
        <section class="selection-content">


            <div class="tab-content">
                <div class="current-selection-container">
                    {% include 'networks/selection/current_selection.html' %}
                </div>
                <div class="tab-pane fade show active" id="wikis" role="tabpanel" aria-labelledby="wikis-tab">
                    {% include 'common/selection/selection_wikis.html' %}
                </div>
                <div class="tab-pane fade" id="networks" role="tabpanel" aria-labelledby="networks-tab">
                    {% include 'networks/selection/selection_networks.html' %}
                </div>
                <div class="tab-pane fade" id="time" role="tabpanel" aria-labelledby="time-tab">...</div>
            </div>
        </section>

        <footer class="action-button-container">
            <div id="selection-footer-container-button" class="selection-container-button">
                <button id="selection-footer-button" type="button" class="btn action-button" disabled>GENERATE</button>
            </div>
        </footer>

    </main>
{% endblock %}
