{% extends "base.html" %}


{% block dependencies %}

    <!-- Specific js and css files for this screen -->
    <link rel="stylesheet" href="{{ url_for('static', filename='common/selection.css') }}">
    <script src="/js/networks/selection.js" defer="defer"></script>
    <script src="/js/networks/selection_time.js" defer="defer"></script>

{% endblock %}


{% block content %}

    <div id="header-background">

        <!-- include common header -->
        {% with %}
            {% set logo_src = url_for('static', filename='networks/assets/logo_networks_white.svg') %}
            {% set header_paragraph = "Select one wiki, one network and press generate to start" %}
            {% include "header.html" %}
        {% endwith %}

        <div class="tabs-bar-container fluid-container">
            <ul class="nav nav-tabs row" id="tabs" role="tablist">
                <li class="nav-item col-5">
                    <a class="nav-link row active" id="wikis-tab" data-toggle="tab" href="#wikis" role="tab" aria-controls="home" aria-selected="true">
                            <span class="col-auto">Wikis</span>
                            <span id="wiki-badges-container" class="d-inline-block align-middle current-selection-paragraph col-9"></span>
                    </a>
                </li>
                <li class="nav-item col-5">
                    <a class="nav-link row" id="networks-tab" data-toggle="tab" href="#networks" role="tab" aria-controls="networks" aria-selected="false">
                            <span class="col-auto">Networks</span>
                            <span id="network-badges-container" class="d-inline-block align-middle current-selection-paragraph col-8"></span>
                    </a>
                </li>
                <li class="nav-item col-2">
                    <a class="nav-link row disabled" id="time-tab" data-toggle="tab" href="#time" role="tab" aria-controls="time" aria-selected="false">Time</a>
                </li>
            </ul>

            <div id="under-tab-row" class="row"></div>

        </div>

    </div>

    <main>
        <section class="selection-content">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="wikis" role="tabpanel" aria-labelledby="wikis-tab">
                    {% include 'common/selection/selection_wikis.html' %}
                </div>
                <div class="tab-pane fade" id="networks" role="tabpanel" aria-labelledby="networks-tab">
                    {% include 'networks/selection/selection_networks.html' %}
                </div>
                <div class="tab-pane fade" id="time" role="tabpanel" aria-labelledby="time-tab">
                    {% include 'networks/selection/selection_time.html' %}
                </div>
            </div>
        </section>

        <footer class="action-button-container">
            <div id="selection-footer-container-button" class="selection-container-button">
                <button id="selection-footer-button" type="button" class="btn action-button" disabled>GENERATE</button>
            </div>
        </footer>

    </main>
{% endblock %}
