{% block dependencies %}

    <link rel="stylesheet" href="{{ url_for('static', filename='networks/selection_time.css') }}">

{% endblock %}

<div>
  <p class="ml-2 tab-intro-paragraph">Select the time span within you want to generate the network</p>
  <hr class="ml-2 line"/>

<section class="range-slider slider-container">
  <p>
    <span>Seleted time axis:</span>
    <span id="time-axis-selection" style="font-weight:bold; color:white"></span>
  </p>

<div id="time-slider" class="slider">
  <div class="ui-slider-handle slider-handle"></div>
  <div class="ui-slider-handle slider-handle"></div>
</div>

</section>
