{% block dependencies %}

    <script src="/js/common/filter_wikis.js" defer="defer"></script>

{% endblock %}


<div>

    <div id="tab-header" class="d-flex justify-content-between mx-2">
        <p class="tab-intro-paragraph" >Select the wiki you want to analyze</p>

        <form class="form-inline">
            <label class="sr-only" for="search-wiki-input">Wiki keywords</label>
            <input id="search-wiki-input" class="form-control h-100" type="text" placeholder="Search wiki" autofocus/>
        </form>
    </div>

    <hr class="ml-2 line"/>

    <div id="wiki-cards-container" class="w-100 mx-auto d-flex">

        <div id="wiki-cards-list" class="d-flex flex-row flex-wrap justify-content-center list">
            {% for wiki in wikis %}
                {% include "common/selection/wiki_card.html" %}
            {% endfor %}
        </div>
    </div>

</div>
