<div class="card m-2 mb-5" style="width: 18rem;">
  <div class="card-body">
    <h4 class="card-title">
        <div class="custom-control custom-checkbox">
            <input class="custom-control-input wiki-input" type="checkbox" id="checkbox-{{wiki.domain}}" value="{{wiki.domain}}" data-name="{{wiki.name}}" name="wikis" {{"checked" if wiki.domain in pre_selected_wikis}}>
            <label class="custom-control-label wiki-name" for="checkbox-{{wiki.domain}}">{{wiki.name}}</label>
        </div>
    </h4>
    <div class="card-image-container" style="background-color: {{wiki.color or 'white'}};">
        <div class="card-image-wrapper">
            {% if wiki.imageSrc %}
            <img src="{{wiki.imageSrc}}" alt="Wiki image" />
            {% else %}
            <img src="/static/assets/wiki_img_fallback.svg" alt="Wiki image" />
            {% endif %}
        </div>
    </div>
    <p class="card-text">
        <div class="wiki-item">
            <span>Users:</span>
            <span class="font-weight-bold">{{wiki.users or "NA"}}</span>
        </div>
        <div class="wiki-item">
            <span>Articles:</span>
            <span class="font-weight-bold">{{wiki.articles or "NA"}}</span>
        </div>
        <div class="wiki-item">
            <span>Pages:</span>
            <span class="font-weight-bold">{{wiki.pages or "NA"}}</span>
        </div>
        <div class="wiki-item">
            <span>Edits:</span>
            <span class="font-weight-bold">{{wiki.edits or "NA"}}</span>
        </div>
    </p>
    <p class="card-text">
        <div class="wiki-item">
            <span><em>Last updated:</em></span>
            <span class="wiki-lastUpdated"><em>{{wiki.lastUpdated or "NA"}}</em></span>
        </div>
    </p>
    <p class="wiki.domain font-weight-bold">
    {% if wiki.url %}
    	<a href="{{wiki.url}}" class="card-link" target="_blank">
            {{wiki.domain}}
        </a>
    {% else %}
    	{{wiki.domain}}
    {% endif %}
    </p>
  </div>
</div>
