@import 'https://fonts.googleapis.com/css?family=Roboto';


/* General */

body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

p {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

#tool-title {
    opacity: 0.39;
    color: #4A4A4A;
    font-family: Roboto;
    font-size: 35px;
    font-weight: 900;
    margin-top: 22px;
}

input[type=checkbox] {
  transform: scale(1.5);
  margin-right: 12px;
}

/* Dash */

._dash-undo-redo {
    display: none;
}


/* Main */

#icons-bar {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
}

.icon {
    opacity: 0.8;
}

.icon:hover {
    opacity: 1;
}

.icon:not(:first-child) {
    margin-left: 18px;
}

.control-text {
    font-size: 16px;
}

/* Sidebar */

#side-bar {
    background-color: #004481;
    flex: 0 0 300px;
    color: white;
    font-size: 16px;
    padding-bottom: 100px;
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

/* Sidebar - tabs */
.side-bar-tab {
    width: 50%;
    height: 70px;
    borderRadius: 3px;
    backgroundColor: #072146;
    color: #49A5E6;
    borderLeftStyle: none;
    borderRightStyle: none;
    fontSize: 18px;
    lineHeight: 21px;
    justifyContent: center;
    flexDirection: column;
}

.side-bar-tab:hover {
    font-weight: bold;
    color: #2DCCCD;
}

.side-bar-selected-tab {
    font-weight: bold;
    color: white;
}

.metric-category-label {
    /* in hex without opacity: background-color: #072146;*/
    background-color: rgba(7,33,70,0.3);
    padding: 5px;
    color: #FFF;
    font-size: 18px;
    padding-left: 16px;
}

.aside-checklist-category,
.metric-category-list {
    padding: 5px;
    font-size: 16px;
    font-weight: 500;
}

.sidebar-info-paragraph {
    font-size: 15px;
    margin: 15px 0 15px 0px;
}

.aside-checklist-option {
    padding: 4px 4px 4px 0;
}

.checklist-info {
    opacity: 0.2;
}

.checklist-info:hover {
    opacity: 1;
}

#compare-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    position: fixed;
    width: 300px;
    bottom: 0px;
    background-color: #072146;
}

.action-button {
    border: None;
    height: 57px;
    width: 256px;
    border-radius: 4px;
    background-color: #49A5E6;
    color : white;
    font-family: Roboto;
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
}

.action-button:hover {
    color: white;
    background-color: #2DCCCD;
}

.action-button:disabled {
    background-color: #D1D1D1;
    cursor: default;
    color: #9B9B9B;
}
